/ ======= About Section =======
%section#about.about.section-show
  / ======= About Me =======
  .about-me.container
    .section-title
      %h2 About
      %p Your Profile
    .row
      .col-lg-4{"data-aos" => "fade-right"}
        =image_tag @profile.image_url(:thumb), class: 'img-fluid'
      .col-lg-8.pt-4.pt-lg-0.content{"data-aos" => "fade-left"}
        %h3="#{@profile.first_name} #{@profile.last_name}"
        %p.font-italic

        .row.mt-2-section.show
          .col-md-6.d-flex.align-items-stretch
            .info-box
              %i.bx.bx-map
              %h3 My Address
              =@profile.from
          .col-md-6.mt-4.mt-md-0.d-flex.align-items-stretch
            .info-box
              %i.bx.bx-share-alt
              %h3 Social Profiles
              %ul
                %li
                  %i.icofont-instagram
                  =@profile.instagram
                %li
                  %i.icofont-twitter
                  =@profile.twitter
          .col-md-6.mt-4.d-flex.align-items-stretch
            .info-box
              %i.bx.bx-envelope
              %h3 Email
              =@profile.user.email
          .col-md-6.mt-4.d-flex.align-items-stretch
            .info-box
              %i.icofont-birthday-cake
              %h3 Age
              =(Date.today.strftime('%Y%m%d').to_i - @profile.age.strftime('%Y%m%d').to_i) / 1000
          .col-md-6.mt-4.d-flex.align-items-stretch
            .info-box
              %i.icofont-birthday-cake
              %h3 Date of Birth
              =@profile.age.strftime('%-d %b %Y')
          .col-md-6.mt-4.d-flex.align-items-stretch
            .info-box
              %i.icofont-movie
              %h3 My Best film
              =@profile.bestfilm
          .col-md-6.mt-4.d-flex.align-items-stretch
            .info-box
              %i.icofont-people
              %h3 My Best Actor
              =@profile.bestactor
          .col-md-6.mt-4.d-flex.align-items-stretch
            .info-box
              %i.icofont-video-clapper
              %h3 My Best Director
              =@profile.bestdirector
          .col-md-12.mt-4.d-flex.align-items-stretch
            .info-box
              %i.icofont-book
              %h3 Detail
              =@profile.description

    =link_to "Update", edit_profile_path, class: 'btn submitbtn'

    =link_to "Delete", profile_path, method: :delete, data:{confirm:"Are you sure to delete?"}, class: 'btn submitbtn'

  / End About Me
