<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You got inquiry from, <%= @help.name %>!</h1>
    <p><%= @help.inquiry_title %></p>
  </body>
</html>