
-# -@works.each do |work|
-#   Title：
-#   =link_to work.title, work_path(work)
-#   %br
-#   Release：
-#   =work.release
-#   %br
-#   Starring:
-#   =work.starring
-#   %br
-#   Description:
-#   =work.description
-#   %br
-#   %hr

-# .container
-#   %h2 Movie index
-#
-# .container
-#   .row.list-group
-#     -@works.each do |work|
-#       .list-group-item
-#         =link_to "#{work.title} / #{work.director.name}(#{work.release})", work_path(work)
-#         =link_to higher_work_path(work), class: work.position == 1 ? 'disabled' : '' do
-#           %i.fa.fa-arrow-up
-#   .row
-#     =link_to 'Add new movie', new_work_path, class: 'btn btn-primary'
-# =link_to "Create new work", new_work_path
/ ======= Portfolio Section =======
%section#portfolio.portfolio
  .container
    .section-title
      %h2 Portfolio
      %p My Works
    .row
      .col-lg-12.d-flex.justify-content-center
        %ul#portfolio-flters
          %li.filter-active
            =link_to 'All', works_path(anchor: 'portfolio'), class: 'link_white'
          -Genre.all.each do |genre|
            %li
              =link_to genre.name, genre_path(id: genre.id, anchor: 'portfolio'), class: 'link_white'
    .row.portfolio-container
      -@works.each do |work|
        .col-lg-4.col-md-6.portfolio-item.filter-app
          .portfolio-wrap
            -# %img.img-fluid{:alt => "", :src => "/img/portfolio/portfolio-1.jpg"}/
            -if work.image.present?
              =image_tag work.image_url(:thumb), class: 'img-fluid'
            -else
              =image_tag '/img/default_work.png', class: 'index_thumb'
            .portfolio-info
              %h4=link_to work.title, work_path(work)
              %p=work.release
              %p=work.director.name
              .portfolio-links
                -if work.image.present?
                  %a.venobox{"data-gall" => "portfolioGallery", :href => "#{work.image_url}", :title => "App 1"}
                    %i.bx.bx-plus
                -# %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
                -#   %i.bx.bx-link
                =link_to work_path(work) do
                  %i.bx.bx-link
    =paginate @works, params: {anchor: 'portfolio'}
    .container
      =link_to 'Add new movie', new_work_path, class: 'btn submitbtn'
/ ======= Contact Section =======
%section#contact.contact
  .container
    .section-title
      %h2 Contact
      %p Contact Me
    .row.mt-2
      .col-md-6.d-flex.align-items-stretch
        .info-box
          %i.bx.bx-map
          %h3 My Address
          %p A108 Adam Street, New York, NY 535022
      .col-md-6.mt-4.mt-md-0.d-flex.align-items-stretch
        .info-box
          %i.bx.bx-share-alt
          %h3 Social Profiles
          .social-links
            %a.twitter{:href => "#"}
              %i.icofont-twitter
            %a.facebook{:href => "#"}
              %i.icofont-facebook
            %a.instagram{:href => "#"}
              %i.icofont-instagram
            %a.google-plus{:href => "#"}
              %i.icofont-skype
            %a.linkedin{:href => "#"}
              %i.icofont-linkedin
      .col-md-6.mt-4.d-flex.align-items-stretch
        .info-box
          %i.bx.bx-envelope
          %h3 Email Me
          %p contact@example.com
      .col-md-6.mt-4.d-flex.align-items-stretch
        .info-box
          %i.bx.bx-phone-call
          %h3 Call Me
          %p +1 5589 55488 55
    %form.php-email-form.mt-4{:action => "forms/contact.php", :method => "post", :role => "form"}
      .form-row
        .col-md-6.form-group
          %input#name.form-control{"data-msg" => "Please enter at least 4 chars", "data-rule" => "minlen:4", :name => "name", :placeholder => "Your Name", :type => "text"}/
          .validate
        .col-md-6.form-group
          %input#email.form-control{"data-msg" => "Please enter a valid email", "data-rule" => "email", :name => "email", :placeholder => "Your Email", :type => "email"}/
          .validate
      .form-group
        %input#subject.form-control{"data-msg" => "Please enter at least 8 chars of subject", "data-rule" => "minlen:4", :name => "subject", :placeholder => "Subject", :type => "text"}/
        .validate
      .form-group
        %textarea.form-control{"data-msg" => "Please write something for us", "data-rule" => "required", :name => "message", :placeholder => "Message", :rows => "5"}
        .validate
      .mb-3
        .loading Loading
        .error-message
        .sent-message Your message has been sent. Thank you!
      .text-center
        %button{:type => "submit"} Send Message
/ End Contact Section
.credits
  / All the links in the footer should remain intact.
  / You can delete the links only if you purchased the pro version.
  / Licensing information: https://bootstrapmade.com/license/
  / Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  Designed by
  %a{:href => "https://bootstrapmade.com/"} BootstrapMade
/ Vendor JS Files
-# %script{:src => "/vendor/jquery/jquery.min.js"}
-# %script{:src => "/vendor/bootstrap/js/bootstrap.bundle.min.js"}
-# %script{:src => "/vendor/jquery.easing/jquery.easing.min.js"}
-# %script{:src => "/vendor/php-email-form/validate.js"}
-# %script{:src => "/vendor/waypoints/jquery.waypoints.min.js"}
-# %script{:src => "/vendor/counterup/counterup.min.js"}
-# %script{:src => "/vendor/owl.carousel/owl.carousel.min.js"}
-# %script{:src => "/vendor/isotope-layout/isotope.pkgd.min.js"}
-# %script{:src => "/vendor/venobox/venobox.min.js"}
-# / Template Main JS File
-# %script{:src => "/js/main.js"}
