-# Title:
-# =@work.title
-# %br
-# Release:
-# =@work.release
-# %br
-# Director:
-# =link_to @work.director.name, director_path(@work.director)
-# %br
-# Starring:
-# =@work.starring
-# %br
-# Description:
-# =@work.description
-# %br
-# %br
-#
-# =link_to "Edit information", edit_work_path(@work)
-# %br
-# =link_to "Back to index", works_path
-# %br
-# =link_to "Delete work", work_path(@work), method: :delete, data:{confirm:"Are you sure to delete?"}

-# %br
-# =link_to "Delete", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure to delete?"}
%main#main
  / ======= Portfolio Details =======
  #portfolio-details.portfolio-details
    .container
      .row
        .col-lg-8
          -# %h2.portfolio-title This is an example of portfolio detail
          .owl-carousel.portfolio-details-carousel
            -# %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-details-1.jpg"}/
            -if @work.image.present?
              =image_tag @work.image_url, class: 'img-fluid'
            -else
              =image_tag '/img/default_work.png', class: 'show_image'
            -# %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-details-2.jpg"}/
            -# %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-details-3.jpg"}/
        .col-lg-4.portfolio-info
          %h3=@work.title
          %ul
            %li
              %strong="Release: "
              =@work.release
            %li
              %strong="Director: "
              =link_to @work.director.name, director_path(@work.director)
            %li
              %strong="Starring: "
              =@work.starring
            %li
              %strong="Genre: "
              -@work.genres.each do |genre|
                .badge.badge-dark
                  =link_to genre.name, genre_path(id: genre.id, anchor:'portfolio')
              -# %strong> Project URL
            -#   \:
            -#   %a{:href => "#"} www.example.com
          %p=@work.description
          =link_to "Back to Index", works_path(anchor: 'portfolio')
          =link_to "Post review", new_login_review_path(@work)
      .container
        =link_to "Edit information", edit_login_work_path(@work), class: 'btn submitbtn'
        =link_to "Delete work", login_work_path(@work), method: :delete, data:{confirm:"Are you sure to delete?"}, class: 'btn submitbtn'
  / End Portfolio Details
/ End #main
