

%section#contact.contact.section-show
  .container
    .section-title
      %h2 New Director
      %p New Director
    =bootstrap_form_with model: @director, local: true, class: 'php-email-form mt-4' do |f|

      =f.text_field :name, autofocus: true, placeholder: 'Name', class: 'form-control'
      =f.text_field :from, autofocus: true, placeholder: 'Country', class: 'form-control'
      =f.file_field :image
      =f.hidden_field :image_cache
      -if @director.image?
        .m-t-5
          =image_tag @director.image_url(:thumb)
          .checkbox.checkbox-primary.m-t-5
            =f.check_box_without_bootstrap :remove_image
            =f.label :remove_image, 'Image Delete'
      .text-center
        = f.submit "Submit", class: 'btn submitbtn'
