
-# -@directors.each do |director|
-#   Name：
-#   =link_to director.name, director_path(director)
-#   %br
-#   Home：
-#   =director.from
-#   %br
-#   %hr
-# =link_to "Add new director", new_director_path
-# %br
-# =link_to "Update information", edit_restaurant_path(@restaurant)
-# %br
-# =link_to "Back to index", restaurants_path
-# %br
-# =link_to "Delete", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure to delete?"}

/ ======= Portfolio Section =======
%section#portfolio.portfolio
  .container
    .section-title
      %h2 Portfolio
      %p My Directors
    .row.portfolio-container
      -@directors.each do |director|
        .col-lg-4.col-md-6.portfolio-item.filter-app
          .portfolio-wrap
            -# %img.img-fluid{:alt => "", :src => "/img/portfolio/portfolio-1.jpg"}/
            -if director.image.present?
              =image_tag director.image_url(:thumb), class: 'img-fluid'
            -else
              =image_tag '/img/default_work.png', class: 'index_thumb'
            .portfolio-info
              %h4=link_to director.name, director_path(director)
              %p=director.from
              -# %p=director.director.name
              .portfolio-links
                -if director.image.present?
                  %a.venobox{"data-gall" => "portfolioGallery", :href => "#{director.image_url}", :title => "App 1"}
                    %i.bx.bx-plus
                -# %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
                -#   %i.bx.bx-link
                =link_to director_path(director) do
                  %i.bx.bx-link
    =paginate @directors, params: {anchor: 'portfolio'}
    .container
      =link_to 'Add new director', new_login_director_path, class: 'btn submitbtn'
