%section#contact.contact.section-show
  .container
    .section-title
      %h2 New Director
      %p New Director
    =render 'form'
    =link_to "Back to index", directors_path, class: 'btn submitbtn'
