%header#header.header-tops
  .container
    %h1
      =link_to 'Movie Log', root_path
    / Uncomment below if you prefer to use an image logo
    / <a href="index.html" class="mr-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a>
    %h2
      In our Movie log,
      %span Find Your Favorite

    %nav.nav-menu.d-none.d-lg-block
      %ul

        %li
          =link_to "Movies", works_path(anchor: 'portfolio')
        %li
          =link_to "Directors", directors_path(anchor: 'portfolio')
        -unless user_signed_in?
          %li
            =link_to "Sign in", new_user_session_path
          %li
            =link_to "Sign up", new_user_registration_path
        -else
          %li
            =link_to "Sign out", destroy_user_session_path
        %li
          =link_to "Contact", works_path(anchor: 'contact')
