=bootstrap_form_with model: [:login, @review], local: true do |f|
  =f.number_field :rate, autofocus: true, placeholder: 'Rate', class: 'form-control'
  =f.text_area :comment, placeholder: 'Comment', class: 'form-control'

  .text-center
    = f.submit "Submit", class: 'btn submitbtn'
