.disabled {
  pointer-events: none;
	opacity: 0.3;
}

.index_thumb {
  width: 340px;
  height: 340px;
}

.show_image {
  width: 730px;
}

.link_white{
  color: #FFFFFF;
}

.submitbtn{
  color: #FFFFFF;
  background-color: #ff1493;
}

.pagination{
  padding: 30px 0;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a{
  display: inline-block;
  padding: 10px 18px;
  color: #FFFFFF;
}

/* NINE */

.p9 a{
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  margin: auto 5px;
}

.p9 a.is-active{
  border: 1px solid #ff1493;
  border-radius: 100%;
}

.review-section {
  overflow: hidden;
  position: relative;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}
.review-section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}
.review-section .container {
  background: rgba(0, 0, 0, 0.9);
  padding: 30px;
}
@media (max-width: 768px) {
  .review-section {
    top: 120px;
  }
  .review-section.section-show {
    top: 80px;
  }
}
.review-section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.review-section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ff1493;
  margin: 4px 10px;
}
.review-section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.testimonials .testimonial-item .mypage h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0 5px 0px;
  color: #fff;
}
.testimonials .testimonial-item .mypage h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 5px 0;
}

.flash_message{
  margin: 100px;
}
